<%- include('partials/header') -%>
<div class="container-fluid">
  <div class="row justify-content-center">

    <!-- Recipe Cards Section -->
    <div class="col-lg-10 col-md-8 col-sm-6">
      <ul class="row list-unstyled">
        <% if (recipes.length > 0 || recipes) { %>
          <% for (var i = 0; i < recipes.length; i++) { %>
            <li class="col-lg-4 col-md-6 col-sm-12 mt-5">
              <div class="recipe-card border rounded-5">
                <a href="/recipe/<%= recipes[i].recipe._id %>">
                  <h2><%= recipes[i].recipe.name %></h2>
                  <img class="img-fluid rounded" src="<%= recipes[i].recipe.image %>">
                </a>
                <p class="underthepic">Click the pic for full Ingredient List and Directions</p>
                <p class="text-truncate">Ingredients: <%= recipes[i].recipe.ingredients %></p>
                <p class="text-truncate">Directions: <%= recipes[i].recipe.directions %></p>
              </div>
            </li>
          <% } %>
        <% } else { %>
          <li class="col-lg-4 col-md-6 col-sm-12 mt-5">
            <p>No favorites found.</p>
          </li>
        <% } %>
      </ul>
    </div>

    <div class="container">
      <!-- Buttons Section -->
      <div class="container-fluid d-flex justify-content-center col-sm-6 col-md-2 mx-auto button-container">
        <!-- First button (Favorites) -->
        <a class="btn btn-primary" href="/feed">Feed</a>
        <a class="btn btn-primary" href="/profile">Profile</a>
        
      </div>
    </div>

  </div>
</div>
<%- include('partials/footer') -%>
