<%- include('partials/headerfeed') -%>
  <div class="container">

    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <h3>Click on the dish you like</h3>
        <% for(var i=0; i<recipes.length; i++) { %>
          <li class="col-6 justify-content-between mt-5">
            <div class="recipe-card border rounded-5">
              <h2><%= recipes[i].name %></h2>
              <a href="/recipe/<%= recipes[i]._id %>">
                <img class="img-fluid" src="<%= recipes[i].image %>">
              </a>
              <p>Recipe by: <%= recipes[i].user.userName %></p><!-- Update this line -->
            </div>
          </li>
        <% } %>
      </ul>
    </div>
    

        

        <div class="container">
          <!-- Buttons Section -->
          <div class="container-fluid d-flex justify-content-center col-sm-6 col-md-2 mx-auto button-container">
            <!-- First button (Favorites) -->
            <a class="btn btn-primary" href="/profile">Profile</a>
            <a class="btn btn-primary" href="/favorites">Favorites</a>
          </div>
        </div>
        </div>
      </div>
        
    </div>
  </div>  
<%- include('partials/footer') -%>






 